# configuraciones sacadas por internet y modificadas por mi
[user]
	name = Yuki (aka Rubén Gómez)
	email = rugoli@gmail.com
[color]
    branch = auto
    diff = auto
    grep = auto
    status = auto
    ui = auto
    interactive = auto
[core]
    excludesfile = ~/.gitignore
    editor = vim
	autocrlf = input
#    pager = more
[diff]
    tool=meld
[merge]
    tool=vimdiff
[push]
    defaul=simple
[alias]
    a = add
    c = commit
    co = checkout
    d = diff --color-words
    dn = diff --name-status
    ds = diff --stat
    l = log
    b = branch
    sb = show-branch
    # show ignored files by .gitignore and .git/info/exclude
    i = ls-files --others -i --exclude-standard
    g = log --graph --pretty=oneline --abbrev-commit --decorate
    lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
#    lg = log --graph --pretty=format:'%C(auto)%h%d %s %C(blue)%an %C(cyan)(%ar)%Creset' --all
    lg2 = log --graph --all --oneline --decorate
#    lg = log --graph --all --pretty=format:'%C(yellow)%h%Creset -%C(bold green)%d %Creset%s%C(cyan) %ar %Cblue%an'
    ld = log --graph --all --pretty=format:'%C(yellow)%h%Creset -%C(bold green)%d %Creset%s%C(cyan) %ar %Cblue%an' --date-order
    st = status
    limpia = clean -fdx
    l1 = log -1 -p
    track = "for-each-ref --format=\"local: %(refname:short) <--sync--> remote: %(upstream:short)\" refs/heads"

[init]
	defaultBranch = main
[fetch]
	prune = true
[safe]
	directory = /home/yuki/repositorios/docker/example-app
