[Unit]
Description=Jackett
Requires=servarr.pod
After=servarr.pod

[Container]
Image=lscr.io/linuxserver/jackett:latest
ContainerName=jackett
Environment=TZ=Europe/Madrid
Environment=AUTO_UPDATE=true
Volume=/home/servarr/jackett/config:/config
Volume=/home/servarr/data/downloads:/data/downloads
Pod=servarr.pod

[Service]
Restart=always
TimeoutStartSec=60

