[Unit]
Description=Qbittorrent
Requires=servarr.pod
After=servarr.pod

[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
ContainerName=qbittorrent
Volume=/home/servarr/qbittorrent/config:/config
Volume=/home/disco4tb:/media
Volume=/home/yuki/Descargas/torrents:/torrents
AutoUpdate=registry
Pod=servarr.pod

[Service]
Restart=always
TimeoutStartSec=60

