[Unit]
Description=Qbittorrent
Requires=servarr.pod
After=servarr.pod

[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
ContainerName=qbittorrent
Volume=/home/servarr/qbittorrent/config:/config
Volume=/home/disco4tb/downloaded_files:/downloads
Volume=/home/disco4tb/downloaded_temp:/downloads_temp
Volume=/home/yuki/Descargas/torrents:/torrents
Pod=servarr.pod

[Service]
Restart=always
TimeoutStartSec=60

